body {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 11.5px;
  background: #fff;
}

.doc {
  background: #fff;
  width: 620px;
  padding: 10px;
  border: 1px solid #aaa;
  margin-left: auto;
  margin-right: auto;
}

pre {
  background: #eee;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  padding: 3px;
}

a {
  text-decoration: none;
  color: green;
}

a:hover {
  text-decoration: underline;
}

/**
 * New Page: The area above this should be deleted soon
 */

#content {
  float: left;
  width: 65%;
}

#right {
  float: right;
  width: 34.99%;
}

  .region {
    padding: 20px 10px;
  }

    .block {
      border: 1px solid #ccc;
      background-color: #eee;
      border-top-left-radius: 5px 5px;
      border-top-right-radius: 5px 5px;
      border-bottom-left-radius: 5px 5px;
      border-bottom-right-radius: 5px 5px;
      margin-bottom: 10px;
    }

      .block .block-content {
        padding: 9px;
        border: 1px solid #fff;
        border-bottom-left-radius: 5px 5px;
        border-bottom-right-radius: 5px 5px;
      }

      .block h2.block-title {
        margin: 0;
        padding: 5px 10px;
        background: -webkit-gradient(
          linear, 0 50%, 0 100%, from(#ddd), to(#ccc)
        );
        text-shadow: white 0px 1px 0px;
        font-size: 13px;
      }

        span.block-title-sidenote {
          color: #444;
          text-shadow: none;
          font-size: 12px;
        }

.contact {
  padding: 5px;
  border-top: 1px solid #ccc;
  height: 40px;
}

.contact dt {
  font-weight: bold;
}

.contact dd, dt {
  display: block;
  margin-left: 60px;
}

.contact-photo {
  float: left;
  width: 50px;
  height: 50px;
}

/**
 * Status Message
 */
.error-string {
  color: red;
  font-weight: bold;
}

/**
 * Composing window
 */
textarea {
  width: 97%;
}

#action_text {
  font-family: monospace;
}

#action-list li {
  font-family: monospace;
}
